# .gitignore file for a Django project
*.log
*.pot
*.pyc
__pycache__/
*/__pycache__/
/media
/static
local_settings.py
clinical/genome/
venv/
config/
.DS_store
clinical/static/
*.idea/
genomes/
product\ images/