# .gitignore file for a Django project
*.log
*.pot
*.pyc
__pycache__/
*/__pycache__/
/media
/static
local_settings.py
db.sqlite3
clinical/genome/
venv/
cosmosEHR/settings.py
.DS_store
clinical/static/
*.idea/
genomes/