{% extends 'base.html' %}

{% block content %}
    <br />
    <br />
    <br />
    <main role="main">
        <div class="container text-center">
            <h1 class="jumbotron-heading">Enter your diagnosis for {{ patient.full_name }}.</h1>
            <p class="lead text-muted">E.g. Colon Cancer, Breast Cancer, Alzheimer's Disease</p>

            <form action="{% url 'clinical/variant-display' patient_id=patient.id %}" method="POST">
                {% csrf_token %}
                <textarea name="diagnosis-list" cols="40" rows="5"></textarea>
                <div><input type="submit" value="Search for variants" class="btn btn-primary my-2"></div>
            </form>
        </div>
    </main>
{% endblock %}
