<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {# Title #}
    <title>Patient Story</title>

    {# Meta information #}
    <meta charset="UTF-8">
    <meta name="description" content="Page presenting the health story of a person.">
    <meta name="author" content="Darshan Kalola">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Style sheets #}
    <link rel="stylesheet" href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'patient_story_basic/css/main.css' %}">

    {# Favicons #}
    <link rel="shortcut icon" href="{% static 'patient_story_basic/favicon.ico' %}">
    <link rel="icon" href="{% static 'patient_story_basic/favicon.ico' %}">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#home-section">
            <img src="{% static 'patient_story_basic/logos/logo-cosmos.png' %}" width="40">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#timeline-section">Timeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Family History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

{# Home section #}
<section id="home-section">
    <div class="home-content">
        <img src="{% static 'patient_story_basic/images/profile.jpg'%}" alt="User profile picture.">
        <h4>Every patient has a story.</h4>
        <h2>What's Akshar Kalola's?</h2>
    </div>
</section>

{# Timeline section #}
<section id="timeline-section">
    <div class="timeline-content-self">
        <h1>Timeline</h1>

        <div class="add-encounter-button-container">
            <form action="{% url 'clinical/add-health-encounter' patient_id=12 %}">
                <input type="submit" value="Add a Health Encounter" />
            </form>
        </div>

        <div class="main-timeline">
            <div class="timeline">
                <a href="" class="timeline-content">
                    <div class="timeline-icon">
                        <i class="fa fa-bed"></i>
                    </div>
                    <div class="inner-content">
                        <h3 class="title">NY Presbytarian</h3>
                        <p class="date">
                            March 12th, 2019
                        </p>
                        <p class="description">
                            It was a very good surgery. It was a very good surgery. It was a very good surgery.
                        </p>
                    </div>
                </a>
            </div>
            <div class="timeline">
                <a href="" class="timeline-content">
                    <div class="timeline-icon">
                        <i class="fa fa-bed"></i>
                    </div>
                    <div class="inner-content">
                        <h3 class="title">NY Presbytarian</h3>
                        <p class="date">
                            March 12th, 2019
                        </p>
                        <p class="description">
                            It was a very good surgery. It was a very good surgery. It was a very good surgery.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{# Family History section #}
<section id="family-history-section">
    <div class="family-history-content">
        <h1>Family History</h1>

        <ul class="family-history-list">
            <li>Mother: Diabetes, ALS</li>
            <li>Father: Melanoma</li>
            <li>Grandfather Paternal: Melanoma</li>
        </ul>
    </div>
</section>

{# Personal Information section #}
<section id="personal-information-section">
    <div class="personal-information-section">


    </div>
</section>


<footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</footer>

</body>
</html>