{% extends 'clinical-tools-base.html' %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Relevant Genes</h1>
        <p class="lead">The following are associated with {{ patient.full_name }}'s diagnoses.</p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            {% for variant in variants %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h3 class="my-0 font-weight-normal">{{ variant.gene_name }}</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{ variant.related_diagnosis }}</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Gene id: {{ variant.gene_id }}</li>
                            <li>Significance: {{ variant.clinical_significance }}</li>
                            <li>Nucleotide position: {{ variant.start }}</li>
                            <li>Chromosome number: {{ variant.chromosome }}</li>
                            <li>Reference allele: {{ variant.reference_allele }}</li>
                            <li>Alternate allele: {{ variant.alternate_allele }}</li>
                        </ul>
                        <div class="btn-group">
                            <a role="button" href="javascript:{document.getElementById('go-to-entry-{{ variant.id }}').submit();}" class="btn btn-lg btn-block btn-outline-primary">Scan</a>
                        </div>
                        <form id="go-to-entry-{{ variant.id }}" method="GET" action="{% url 'clinical/genome-scan' variant_id=variant.id %}">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


