{% extends 'base.html' %}

{% block content %}
    <br />
    <h1 align="center">Sign up for CosmosEHR</h1>

    {% if error %}
        {{ error }}
    {% endif %}

    <br />
    <br />
    <div align="center">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            Username:
            <br /><input type="text" name="username" /><br />

            Password:
            <br /><input type="password" name="password" /><br />

            Confirm password:
            <br /><input type="password" name="password_check" /><br />

            <br /><input type="submit" class="btn btn-primary my-2" value="Sign up" /><br />
        </form>
    </div>
{% endblock %}


